<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>   
  <!-- navbar -->
  <header>
    <div class="nav container">
      <i class='bx bx-menu' id="menu-icon"></i>
      <!--logo-->

      <a href="#" class="logo">REVV <span> IT </span></a>

      <!--Nav List-->

      <ul class="navbar">
        <li><a href="#log-in" class="active">Log In</a></li>
        <li><a href="#sign-in">Sign In</a></li>
      </ul>
      <!-- search icon-->
      <i class='bx bx-search-alt' id="search-icon"></i>
      <!-- search-box-->
      <div class="search-box container" >
        <input type='search' name="" id="" placeholder="Search here...">
      </div>

    </div>
  </header>  

  <section class="home" id="home">
    <div class="home-text">
      <h1>Search for any car <br> that <span> intrigues </span> you!!!</h1>
        <a href="#" class="btn">Get Involved</a>
    </div>
  </section>

<!-- Cars section -->

<section>
  <div class="heading">
    <span>All Cars</span>
    <h2>View any type of car</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint repellat nihil aliquam, enim ea minus labore quo ex recusandae.</p>
  </div>
  <!-- box 1-->
  <div class="cars-container container">

  <div class="box">
    <img src="/images/car1.jpg" alt="">
    <h2>Porsche</h2>
  </div>

  <!-- box 2-->
  <div class="box">
    <img src="images/car2.jpg" alt="">
    <h2>Porsche</h2>
  </div>

  <!-- box 3-->

  <div class="box">
    <img src="images/car3.jpg" alt="">
    <h2>Porsche</h2>
  </div>
  </div>
</section>
<!-- blog -->

<section class="blog" id="blog">
  <div class="heading">
    <span>Our Blog</span>
    <h2>Blog and posts</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat ad temporaus nulla distinctio placeat. Placeat providen</p>
  </div>

  <div class="blog-container container">
    <!-- box 1-->

     <div class="card-grid">
    <div class="card card-shadow">
      <div class="card-header card-image">
        <img src="images/car1.jpg" alt="">
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt expedita nulla nobis cumque quisquam. Enim perspiciatis vero laudantium nemo cum!
      </div>
      <div class="card-footer">
        <button class="btn">Details</button>
        <button class="btn btn-outline">Contact Seller</button>
      </div>
    </div>
    <div class="card card-shadow">
      <div class="card-header card-image">
        <img src="images/car1.jpg" alt="">
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt expedita nulla nobis cumque quisquam. Enim perspiciatis vero laudantium nemo cum!
      </div>
      <div class="card-footer">
        <button class="btn">Details</button>
        <button class="btn btn-outline">Contact Seller</button>
      </div>
    </div>
    <div class="card card-shadow">
      <div class="card-header card-image">
        <img src="images/car4.jpg" alt="">
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt expedita nulla nobis cumque quisquam. Enim perspiciatis vero laudantium nemo cum!
      </div>
      <div class="card-footer">
        <button class="btn">Details</button>
        <button class="btn btn-outline">Contact Seller</button>
      </div>
    </div>
    <div class="card card-shadow">
      <div class="card-header card-image">
        <img src="images/car1.jpg" alt="">
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt expedita nulla nobis cumque quisquam. Enim perspiciatis vero laudantium nemo cum!
      </div>
      <div class="card-footer">
        <button class="btn">Details</button>
        <button class="btn btn-outline">Contact Seller</button>
      </div>
    </div>
  </div>



  </div>
</section>

<footer>
    <li>
        <a href="https://github.com/HusaamNT/revvit">Contact Us</a>
      </li>
</footer>
  <script src="/js/index.js"></script>
</body>
</html>

{{{body}}}


