<div style="margin-top: 200px;"><!-- Fix this properly -->
  <div class="wrapper">
    <h1>Login</h1>
    <form action="#">
      <input id="login-username" type="text" placeholder="Username">
      <input id="login-password" type="password" placeholder="Password">
      <button id="login">Login</button>
    </form>
    <div class="account">
      Don't have an account? <a href="/signup">
        Create one
      </a>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>