<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>   
    <script src="../server.js"></script>
      <h1 id="logo">Revvit</h1>
      <nav>
        <ul class="navbar">
          <li>Home</a></li>
          <li>About Us</a></li>
          <li>
          <a href="./signup.handlebars">Sign Up</a> 
          </li>
          <li>
          <a href="./login.handlebars">Log In</a> 
         </li>   
        </ul>
      </nav>
  <div class="card"></div>

  <div class="">
    <div class="wrapper">
        <h1>Login</h1>
        <form action="#">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">
        </form>
        <button>Login</button>
        <div class="account">
            Don't have an account? <a href="./signup.handlebars">
                Create one
            </a>
        </div>
  </div>


</body>
</html>
