<div style="margin-top: 200px;"><!-- Fix this properly -->
  <div class="wrapper">
    <h1>Login</h1>
    <form action="#">
      <input type="text" placeholder="Email">
      <input type="password" placeholder="Password">
    </form>
    <button>Login</button>
    <div class="account">
      Don't have an account? <a href="/signup">
        Create one
      </a>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>