<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
</head>

<div class="nav container">
    <i class='bx bx-menu' id="menu-icon"></i>
    <!--logo-->

    <a href="#" class="logo">REVV <span> IT </span></a>

    <!--Nav List-->

    <ul class="navbar">
      <li><a href="#log-in" class="active">Log In</a></li>
      <li><a href="#sign-in">Sign Up</a></li>
      <!-- <li><a href="#about">About</a></li>
      <li><a href="#blog">Our Blog</a></li> -->
    </ul>
    <!-- search icon-->
    <i class='bx bx-search-alt' id="search-icon"></i>
    <!-- search-box-->
    <div class="search-box container" >
      <input type='search' name="" id="" placeholder="Search here...">
    </div>
 <!--User Posts--> 
 

 <!--User Posts Buttons-->

</header> 



<body>
    
</body>
</html>
