
body {
    box-sizing: border-box;
    margin-left: 10%; 
    margin-right: 10%;
    margin-top: 2em;
}

nav ul li {
    padding: 0px 20px;
}

nav {
    background-color: grey;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
}


ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

/*nav bar*/

footer {
    list-style: none;
}

    
